<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Nosotros</h6>
                <p>Consultorio Odontológico UCB, es un nuevo concepto en Salud, regido por la Experiencia, Calidez y
                    Empatía de sus Profesionales</p>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Información</h6>
                <ul class="footer-links">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="plantel">Plantel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="cirugia">Cirugias</a>
                    </li>
                    <li class="nav-item last">
                        <a class="nav-link" routerLink="contactos">Contactos</a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Contactanos</h6>
                <p>Número: 2718144</p>
                <p>Celular: 67344437</p>
                <p>Dirección: El Prado N-° 464</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2022 Todos los derechos reservados por
                    <a routerLink="home">Grupo2</a>.
                </p>
            </div>
        </div>
    </div>
</footer>s