<nav class="navbar navbar-expand navbar-light "style="background-color: #91e4d1; border-radius: 10px;" >
  <a class="navbar-logo" href="#">
    <img src="https://media.istockphoto.com/vectors/dentist-icon-vector-id1078557414?k=20&m=1078557414&s=612x612&w=0&h=bJ-UU8xZe53kZ19a35ivCls5Qy7UU42dpqMtcwhbg9Y=" >
  </a>
    <div class="nav navbar-nav" >
      
        <a class="nav-item nav-link active" href="#">Home <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="servicios">Servicios</a>
        <a class="nav-item nav-link" routerLink="plantel">Plantel</a>
        <a class="nav-item nav-link" routerLink="listar-empleado">Listar empleado</a>
        <a class="nav-item nav-link" routerLink="agregar-empleado">Agregar empleado</a>
        <a class="nav-item nav-link" routerLink="cirugia">Cirugias</a>
        <a class="nav-item nav-link" routerLink="reserva">Reserva</a>
        <a class="nav-item nav-link" routerLink="contactos">Contactos</a>
    </div>
 
</nav>

<div class="container">
  <router-outlet></router-outlet>
  
</div>
