
<img src="https://odontologiaveterinaria.e-reservas.cl/img/portal/logo.png" alt="">
<div class="card">

    <div class="card-header">
        Cirugia-consultas
    </div>
    <div class="card-body">
       <form [formGroup]="formularioDeReservas"  (ngSubmit)="enviarDatos()">
        <div class="mb-3">
          <label for="" class="form-label">Nombre:</label>
          <input type="text"
            class="form-control" name="" formControlName="nombre" id="" aria-describedby="helpId" placeholder="Escribe el nombre">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Servicio: </label>
          <input type="text"
            class="form-control" name="" formControlName="servicio" id="" aria-describedby="helpId" placeholder="Escribe el servicio">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Fecha: </label>
            <input type="date"
              class="form-control" name="" formControlName="fecha" id="" aria-describedby="helpId" placeholder="Fecha">
          </div>

        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-success">Realizar reserva</button>
            <button type="button" class="btn btn-primary">Cancelar</button>
        </div>
       </form>
    </div>
</div>
